#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  background-color: #ffffff;
}

.App {
  background: #ffefba;
  background: -webkit-linear-gradient(to top, #ffefba, #ffffff);
  background: linear-gradient(to top, #ffefba, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  height: 667px;
  width: 373px;
  border: dashed 1px grey;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  border-bottom: solid 1px gray;
  height: fit-content;
}

.menu {
  margin-right: 20px;
}

#plus {
  background-color: rgb(184, 175, 175);
  width: 30px;
  height: 25px;
  font-size: large;
  border-radius: 5px;
  margin: 8px;
}

#minus {
  background-color: rgb(184, 175, 175);
  width: 30px;
  height: 25px;
  font-size: large;
  border-radius: 5px;
  margin: 8px;
}

#numberCounter {
  font-size: larger;
}

h2 {
  width: 60%;
  text-align: center;
}

.fa-star {
  color: orange;
}

.starCounter {
  padding-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counterBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 60px;

  margin-left: 20px;
}

.page-footer {
  height: 310.3px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  font-size: 15px;
  color: rgba(39, 39, 39, 0.76);
  padding-bottom: 10px;
  padding-top: 10px;
  background: transparent;
}
